@font-face
{
    font-family: 'Bebas Neue';
    src: url('polices/BebasNeue-Regular.eot');
    src: url('polices/BebasNeue-Regular.woff') format('woff'),
         url('polices/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
 
  margin: 0;
  height: 100%;
  width: 100%;

}

#app {
    background: #f3f3f3;
    font-family: Arial sans-serif;
    margin: auto;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
   

   
   
  }

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
   
  }